<li [ngClass]="{'list-group-item':true,
                'list-group-item-success':calcSucc(),
                'list-group-item-danger':calcdang()}" >
    <div class="d-flex justify-content-between">
        <h4 [ngClass]="{'text-success':calcSucc(),'text-danger':calcdang()}">{{title}}</h4>
        <cite class="text-muted">{{created_at | date : "medium"}}</cite>
    </div>
    <p [ngClass]="{'text-success':calcSucc(),'text-danger':calcdang()}">{{content}}</p>
    <div class="row">
        <button class="btn btn-success col-2 mr-1" (click)="onLove()">Love it</button>
        <button class="btn btn-danger col-2" (click)="onHate()">Don't Love it</button>
    </div>
</li>